* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
/* BODY */
body {
    background: #d9d9d9;
    color: #222;
    line-height: 1.6;
}
/* DIV */
div {
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}
/* HEADER */
header {
    background: #8b1e1e;
    color: white;
    padding: 25px;
    text-align: center;
}
/* LOGO */
header img {
    width: 120px;
    margin-top: 10px;
    width: 50px;
}
/* NAV */
nav {
    background: #111;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
/* TITULOS */
h1 {
    font-size: 28px;
}
h2 {
    margin-bottom: 15px;
    font-size: 24px;
}
h3 {
    margin: 15px 0 10px 0;
    font-size: 20px;
}
/* TEXTO */
p {
    margin-bottom: 15px;
}
/* LISTAS */
ol, ul {
    margin-left: 20px;
    margin-bottom: 20px;
}
/* IMAGENES */
img {
    max-width: 100%;
    height: auto;
    width: 45%;
    margin: 10px;
    text-align: center;
}
/* FORMULARIO */
form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    margin-top: 20px;
    padding: 12px;
    background: #8b1e1e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}
th {
    background: #f2f2f2;
}
/* MAPA */
iframe {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-radius: 8px;
}
/* FOOTER */
footer {
    background: #8b1e1e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}